.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 14px;
  background: #002882;
  border-radius: 20px;
  transition: all 0.2s;

  &:not(.active) {
    opacity: 0.5;
    filter: blur(5px);
    cursor: pointer;
  }

  &.gameCompleted {
    cursor: default;

    .superpower {
      cursor: default;
    }
  }
}

.name {
  padding: 8px 15px;
  background: #00abff;
  border-radius: 20px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 14px;
  line-height: 14px;
}

.main {
  display: flex;
  margin-top: 14px;
}

.avatar {
  flex-shrink: 0;
}

.superpower {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 14px;
  cursor: pointer;
  transition: all 0.2s;

  &:not(.available) {
    opacity: 0.5;
    filter: blur(2px);
    cursor: default;
  }
}

.superpowerTitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}

.superpowerValue {
  margin-top: 4px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #ffffff;
}
