.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 48px;
  background: #002882;
  border-radius: 30px;
  width: 1000px;
}

.text {
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  color: #ffffff;
}

.smallStar {
  width: 286px;
  height: 286px;
  position: absolute;
  right: -130px;
  top: 30px;
  z-index: -1;
}

.mediumStar {
  position: absolute;
  width: 365px;
  height: 365px;
  right: -144px;
  top: 198px;
  z-index: -1;
}

.superStar {
  position: absolute;
  width: 499px;
  height: 499px;
  top: -88px;
  left: -176px;
  z-index: -1;
}
