.wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  cursor: pointer;
  padding: 12px 32px 26px 32px;
  box-sizing: border-box;
  z-index: 0;
  overflow: hidden;
  background-color: #002882;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left top;
}

.backgroundOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #002982;
  opacity: 0.8;
  z-index: -1;
}

.logo {
  max-width: 70px;
  max-height: 70px;
  height: 70px;
}

.titleWrapper {
  position: relative;
}

.title,
.titleOverlay {
  font-weight: 600;
  font-size: 34px;
  line-height: 43px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.title {
  color: #ffffff;
  filter: blur(0.148875px);
}

.titleOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.3);
}
