.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 50px;
  border-radius: 30px;
  width: 1038px;
  min-height: 630px;
  background-color: #002882;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: auto;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
  background: #002982;
  border-radius: 38px;
  padding: 54px 64px 40px;
  box-sizing: border-box;
}

.name {
  flex-shrink: 0;
  width: 313px;
  height: 75px;
}

.title {
  flex-shrink: 0;
  margin-top: 20px;
  font-weight: 600;
  font-size: 25px;
  line-height: 32px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
}

.description {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
  font-weight: 600;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  white-space: pre-wrap;
  color: #FFFFFF;
}