.wrapper {
  display: grid;
  grid-template-columns: calc(322px * var(--sizeCoefficient)) calc(234px * var(--sizeCoefficient));
  gap: calc(10px * var(--sizeCoefficient)) calc(12px * var(--sizeCoefficient));
}
