.wrapper {
  display: flex;
  flex-direction: column;
}

.description {
  font-weight: 700;
  font-size: calc(32px * var(--sizeCoefficient));
  line-height: calc(41px * var(--sizeCoefficient));
  text-align: center;
  white-space: pre-wrap;
  color: #002882;
}