.wrapper {
  display: flex;
  flex-direction: column;
  padding: 35px 36px 13px 14px;
  background: #002882;
  border-radius: 20px;
  transition: all 0.2s;

  &:not(.active) {
    opacity: 0.5;
    filter: blur(5px);
    cursor: pointer;
  }
}

.steps,
.skills {
  display: flex;
  align-items: center;
}

.skills {
  margin-top: 30px;
}

.stepsTitle,
.skillsTitle {
  font-weight: 600;
  font-size: 13px;
  line-height: 11px;
  color: #ffffff;
}

.stepsInput,
.skillsInput {
  flex-shrink: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
  width: 42px;
  height: 42px;
  background: #ffffff;
  border-radius: 8px;
}

.stepsValue,
.skillsValue {
  font-weight: 600;
  font-size: 25px;
  line-height: 11px;
  color: #002882;
  text-align: center;
}

.stepsIncrementButton,
.skillsIncrementButton {
  position: absolute;
  width: 34px;
  height: 34px;
  top: 8px;
  right: 8px;
  transform: translate(100%, -100%);
  cursor: pointer;
}
