.wrapper {
  display: flex;
  flex-direction: column;
  padding: 25px 27px 25px 16px;
  background: #002882;
  border-radius: 20px;
}

.steps,
.skills {
  display: flex;
  align-items: center;
}

.skills {
  margin-top: 25px;
}

.stepsTitle,
.skillsTitle {
  font-weight: 600;
  font-size: 14px;
  line-height: 11px;
  color: #ffffff;
}

.stepsInput,
.skillsInput {
  flex-shrink: 0;
  margin-left: 12px;
  width: 42px;
  height: 42px;
  background: #ffffff;
  border-radius: 8px;
}

.stepsInput {
  outline: none;
  border: none;
  padding: 0;
  text-align: center;
}

.skillsInput {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stepsInput,
.skillsValue {
  font-weight: 600;
  font-size: 25px;
  line-height: 11px;
  color: #002882;
}

.skillsIncrementButton {
  position: absolute;
  width: 22px;
  height: 22px;
  top: 6px;
  right: 6px;
  transform: translate(100%, -100%);
  cursor: pointer;
}