.completeButton {
  outline: none;
  border: none;
  padding: 10px 25px;
  background: #002882;
  border-radius: 64px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  transition: all 0.2s;

  &.gameCompleted {
    opacity: 0;
    pointer-events: none;
    cursor: default;
  }
}
