.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 118px;
  background: #002882;
  border-radius: 30px;
  width: 1138px;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}

.text {
  margin-top: 60px;
  font-weight: 600;
  font-size: 50px;
  line-height: 64px;
  text-align: center;
  color: #FFFFFF;
}

.star {
  position: absolute;
  width: 384px;
  height: 384px;
  right: -154px;
  top: -188px;
  z-index: -1;
}

.line {
  position: absolute;
  width: 285px;
  height: 322px;
  right: -150px;
  top: 28px;
  z-index: -1;
}

.cup {
  position: absolute;
  width: 420px;
  height: 532px;
  top: -62px;
  left: -200px;
  z-index: -1;
}
